<h1> All Tasks </h1>

<% @tasks.each do |task| %>
  <h3><%=task.title %> </h3>
  <p><%= task.description %></p>
  <h1>All Tasks</h1>

<% @tasks.each do |task| %>
<h3><a href="/tasks/<%= task.id %>"><%= task.title %></a></h3>
  <p><%= task.description %></p>
<% end %>
<% end %>
